.about
    margin: 0 auto
    height: calc(100vh - 1em)
    margin-left: 6em
    width: 80%
    display: flex 
    justify-content: center
    align-items: center
    .me
        float: right
        margin: 1.5em
        background: var(--background)
        box-shadow: var(--background) -10px 10px 0 -3px, var(--accent) -10px 10px, var(--background) 10px -10px 0px -3px, var(--accent) 10px -10px
    button
        background: transparent
        display: block
        text-transform: none
        padding: 1em
        border: 1px solid var(--accent)
        font-weight: normal
        margin:0
    ul
        display: grid
        grid-template-columns: repeat(4, 1fr)
        list-style: none
        li
            padding: 0.1em 0
            &:before
                content: "\2771"
                color: var(--accent)
                font-weight: bold
                display: inline-block
                width: 1em
                margin-left: -1em