
.nav 
  position: absolute
  top: 0 
  right: 0
  padding: 0.5em
  margin: 2em 0
  width: calc(100vw - 2em)
  display: grid
  grid-template-columns: .5fr 1.5fr
  grid-template-rows: 1fr
  grid-column-gap: 0px
  grid-row-gap: 0px
  
  button
    background: transparent
    border: none
    padding: 0 0.5em 0 0
    fill: var(--default)
    &:hover
      color: var(--accent)
  a:not(.resume), a:active:not(.resume), a:focus:not(.resume)
    text-transform: uppercase
    font-weight: bold
    padding: 0.5em
    vertical-align: top
    text-decoration: none
    color: var(--default)
    transition: 0.3s
    font-weight: bold
    // @include hover-underline('slide', 'right-left')
    &:hover
      color: var(--accent)
  div:last-child
    text-align: right
    
.resume
  border-radius: 0.5em
  border: 2px solid var(--accent)
  padding: 0.5em 1em
  margin: 1em
  text-align: center
  font-weight: bold
  color: var(--accent)
  text-transform: uppercase
  text-decoration: none
  transition: 0.7s
  &:hover
    border: 2px solid var(--accent)
    box-shadow: inset 0px -4em 0px 0px var(--accent)
    color: var(--background)
